header {
    background-color: $primary-color;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 150px;
    
    .logo {
        text-decoration: none;
        color: $accent-color;
        font-weight: 700;
        font-size: 1.3em;
        text-transform: uppercase;
    }

    .navigation {
        a {
            text-decoration: none;
            color: $secondary-color;
            font-size: 1em;
            font-weight: 300;
            padding-left: 30px;

            &:hover {
                color: $accent-color;
            }
        }
    }
}