header{
    height: 50vh;
    color:$textcolor;
    background: lightblue;
    button{
        background: $primarybtn;
        &:hover{
            background: yellow;
        }
        &::after{
            content:"hey there";
        }
    }
}


// @mixin flexcontect($font){
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height: 20vh;
//     text-decoration: $font;
// }


// header{
//     @include flexcontect(overline);
//     background: #23889a;
//     color:$textcolor;

//     button{
//         background: $primarybtn;
//         &:hover{
//             background: yellow;
//         }
//         &::after{
//             content:"hey there";
//         }
//     }
// }

